{% extends "base.html" %}
{% block content %}
    <h2>Sign Up</h2>
    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control bg-dark text-light") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control bg-dark text-light") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control bg-dark text-light") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}